<!-- Trabalho Desenvolvido na Data Science Academy - www.datascienceacademy.com.br -->
# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Fundamentos de Linguagem Python - Do Básico a Aplicações de IA</font>
# <font color='blue'>Lista 1 de Exercícios</font>

#### Exercício 1

Escreva um programa que peça ao usuário para digitar seu nome e, em seguida, imprima uma mensagem de boas-vindas com o nome fornecido.

In [5]:
nome = input("Qual o seu nome?")
print(f"Seja Bem-vindo(a) {nome}")

Qual o seu nome? 150

Seja Bem-vindo(a) 150

Seja Bem-vindo(a) Thales

In [6]:
type(nome)

str

#### Exercício 2

Crie duas variáveis, numero1 e numero2, e atribua a elas valores inteiros. Calcule a soma, subtração, multiplicação e divisão dessas variáveis e imprima os resultados.

In [7]:
numero1 = 100
numero2 = 25

soma = numero1 + numero2
subtracao = numero1 - numero2
multiplicacao = numero1 * numero2
divisao = numero1 / numero2

print(f"A soma é  {soma} \nA subtração é {subtracao} \nA multiplicação é {multiplicacao} \nA divisão é {divisao}")

A soma é  125
A subtração é 75
A multiplicação é 2500
A divisão é 4.0

#### Exercício 3 

Qual é a principal diferença entre uma variável de escopo local e uma de escopo global?

Variável Globais: Declaradas fora de qualquer função. Podem ser acessadas de qualquer lugar do código (incluse dentro de def)
Variável Locais: Declaradas dentro de uma função. Só podem ser acessadas dentro daquela função.

#### Exercício 4

Crie uma variável chamada saldo com o valor 500.50 (float). Em seguida, crie uma variável saque com o valor 200.25 (float). Subtraia o saque do saldo e imprima o saldo final formatado para duas casas decimais.

In [8]:
saldo = float(500.50)
saque = float(200.25)

saldo_atual = saldo - saque
print(saldo_atual)

300.25

#### Exercício 5

Declare uma variável booleana chamada **tem_carteira_de_motorista** e atribua a ela o valor True. Imprima uma mensagem que diga "Pode dirigir" se a variável for verdadeira e "Não pode dirigir" caso contrário.

In [9]:
tem_carteira_de_motorista = True
if tem_carteira_de_motorista:
    print("Pode dirigir")
else:
    print("Não pode dirigir")

Pode dirigir

In [10]:
tem_carteira_de_motorista = False
if (tem_carteira_de_motorista == True):
    print("Pode dirigir")
else:
    print("Não pode dirigir")

Não pode dirigir

#### Exercício 6

Crie duas variáveis: 

- idade_ana = 25
- idade_beto = 30

Use operadores de comparação para verificar se a idade de Ana é menor que a de Beto e imprima o resultado booleano.

In [11]:
idade_ana = 25
idade_beto = 30

print(idade_ana < idade_beto)

True

#### Exercício 7

Receba um número inteiro do usuário e use o operador de módulo (%) para verificar se o número é par ou ímpar. Imprima o resultado.

Obs: Não estudamos ainda os condicionais, mas pesquise se necessário e tente resolver.

In [12]:
##### numero = int(input("Digite um número inteiro:"))

result = numero % 2

if (result == 0):
    print("Você digitou um número par")
else:
    print("Você digitou um número ímpar")

Digite um número inteiro: 51

Você digitou um número ímpar

Você digitou um número par

#### Exercício 8

Crie duas variáveis booleanas: 

- chovendo = True
- guarda_chuva = False

Use operadores lógicos para verificar se uma pessoa vai se molhar (se está chovendo E ela não tem guarda-chuva).

In [13]:
chovendo = True
guarda_chuva = False

if (chovendo and guarda_chuva):
    print("Você NÃO vai se molhar")
else:
    print("Você vai se molhar")

Você vai se molhar

#### Exercício 9

Calcule a potência de 2 elevado a 10 e imprima o resultado.

In [14]:
potencia = 10 ** 2 

print(potencia)

100

#### Exercício 10

Converta a string "2026" para um tipo inteiro e armazene-a em uma variável chamada ano. Em seguida, some 1 a essa variável e imprima o novo ano.

In [15]:
ano = "2026"
ano = int(ano) + 1

print(ano)

2027

strip é a função para remover espaços em branco do inicio e do fim da string

#### Exercício 11

Crie a string:

frase = "   Python é uma linguagem poderosa e estou aprendendo com a DSA   ". 

Remova os espaços em branco do início e do fim da string e imprima a nova string.

In [16]:
frase1 = "   Python é uma linguagem poderosa e estou aprendendo com a DSA   "
frase_sem_espaço = frase1.strip()
print(frase1)

   Python é uma linguagem poderosa e estou aprendendo com a DSA

#### Exercício 12

Na string do exercício anterior (já sem os espaços), converta toda a frase para letras maiúsculas.

In [17]:
frase1_maiuscula = frase1.upper()
print(frase1_maiuscula)

   PYTHON É UMA LINGUAGEM PODEROSA E ESTOU APRENDENDO COM A DSA

#### Exercício 13

Ainda usando a mesma string, substitua a palavra "poderosa" por "incrível".

In [18]:
# Solução
frase_exe13 = frase1.replace('poderosa', 'incrível')
print(frase_exe13)

   Python é uma linguagem incrível e estou aprendendo com a DSA

#### Exercício 14

Verifique e imprima o número total de caracteres na string frase (após as modificações dos exercícios anteriores).

In [19]:
# Solução
frase3 = "Deus é bom"
frase_14 = len(frase3)
print(frase_14)

10

#### Exercício 15

Use fatiamento (slicing) para extrair e imprimir apenas a palavra "Python" da string frase.

In [30]:
# Solução
exerc15 = "O Nino é um gato grande"
print("parte da frase:", exerc15[0:4])
print(f"Esses são os 4 primeiros caracteres da frase: {exerc15[:4]}")

parte da frase: O Ni
Esses são os 4 primeiros caracteres da frase: O Ni

#### Exercício 16

Crie uma lista chamada compras com os seguintes itens: "arroz", "feijão", "macarrão", "carne". Imprima a lista.

In [32]:
# Solução
lista_supermercado = ["arroz", "feijão", "macarrão", "carne"]
print(lista_supermercado)
type(lista_supermercado)

['arroz', 'feijão', 'macarrão', 'carne']

list

#### Exercício 17

Adicione o item "leite" ao final da lista compras e imprima a lista atualizada.

In [42]:
# Solução

lista_supermercado.append('macarrão')
print(lista_supermercado)

['arroz', 'feijão', 'carne', 'leite', 'macarrão']

#### Exercício 18

Acesse e imprima o segundo item da lista compras.

In [34]:
# Solução
print(lista_supermercado[1])

feijão

#### Exercício 19

Remova o item "macarrão" da lista compras e imprima a lista final.

In [41]:
# Solução
lista_supermercado.remove("leite")
print(lista_supermercado)

['arroz', 'feijão', 'carne', 'leite']

#### Exercício 20

Crie uma lista de números de 1 a 5. Use uma função para calcular e imprimir o tamanho (número de elementos) dessa lista.

In [ ]:
# Solução

#### Exercício 21

Crie uma tupla chamada meses com os três primeiros meses do ano: "Janeiro", "Fevereiro", "Março".

In [ ]:
# Solução

#### Exercício 22

Tente adicionar o mês "Abril" à tupla meses. O que acontece? Explique o resultado.

In [ ]:
# Solução

#### Exercício 23

Acesse e imprima o primeiro mês da tupla meses.

In [ ]:
# Solução

#### Exercício 24

Crie um dicionário chamado filme com as seguintes chaves e valores: 

- titulo = "O Poderoso Chefão",
- ano = 1972
- diretor = "Francis Ford Coppola"

In [ ]:
# Solução

#### Exercício 25

Acesse e imprima o ano de lançamento do filme a partir do dicionário.

In [3]:
# Solução
print(catalogo_filmes["ano"])

1972

#### Exercício 26

Adicione uma nova chave genero com o valor "Drama" ao dicionário filme e imprima o dicionário completo.

In [5]:
# Solução
catalogo_filmes = {
    "titulo":"O Poderoso Chefão",
    "ano":"1972",
    "diretor":"Francis Ford Coppola"
}
catalogo_filmes["genero"] = "Drama"

print(catalogo_filmes)

{'titulo': 'O Poderoso Chefão', 'ano': '1972', 'diretor': 'Francis Ford Coppola', 'genero': 'Drama'}

#### Exercício 27

Modifique o valor da chave ano para 1973 e imprima o dicionário atualizado.

In [7]:
# Solução
catalogo_filmes = {
    "titulo":"O Poderoso Chefão",
    "ano":"1972",
    "diretor":"Francis Ford Coppola"
}
#catalogo_filmes["ano"] = 1973
catalogo_filmes["classificação"] = ""

print(catalogo_filmes)

{'titulo': 'O Poderoso Chefão', 'ano': '1972', 'diretor': 'Francis Ford Coppola', 'classificação': ''}

#### Exercício 28

Crie uma lista com os seguintes números: [1, 2, 2, 3, 4, 4, 5, 1]. Use um conjunto para remover os números duplicados e imprima o resultado.

In [8]:
# Solução
lista_exer28 = [1,2,2,3,4,5,1]

print(set(lista_exer28))

{1, 2, 3, 4, 5}

#### Exercício 29

Crie dois conjuntos: 

- set_a = {1, 2, 3, 4}
- set_b = {3, 4, 5, 6}

Encontre e imprima a interseção entre os dois conjuntos (os elementos que estão em ambos).

In [9]:
# Solução
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

intersecao = set_a.intersection(set_b)
print(intersecao)

{3, 4}

#### Exercício 30

Escreva um programa que peça ao usuário para digitar sua altura em metros (ex: 1.75) e seu peso em quilogramas (ex: 68.5). Calcule o Índice de Massa Corporal (IMC) usando a fórmula IMC = peso / (altura * altura) e imprima o resultado formatado com duas casas decimais.

In [15]:
# Solução
peso = float(input("Digite o seu peso:"))
altura = float(input("Digite a sua altura:"))

imc = peso / (altura * altura)

print(f"O seu IMC é: {imc:.2f}")

O seu IMC é: 27.35

# Fim